# Logs
*.log

# IDE
.idea/

# Dependency directory
node_modules

# This file is only for development, because it contains not minified JS and references to SourceMap
dist/eastereck.js

# SourceMap files
*.map
