// Easter eggs in ALPHABETICAL ORDER

// drunken
//
.eastereck-drunken {
    filter: blur(1px);
    transition: filter 5s ease;
}

// iconparty
//
.eastereck-iconparty-jump {
    animation: jump 250ms ease infinite alternate;
}
.eastereck-iconparty-rotate {
    animation: rotate 900ms linear infinite;
}
.eastereck-iconparty-dance {
    animation: dance 2000ms linear infinite;
}

@keyframes jump {
    0% {
        transform: translate(0, -.4em);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
}
@keyframes dance {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(10deg);
    }
    15% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    45% {
        transform: rotate(10deg);
    }
    55% {
        transform: rotate(-10deg) translate(0);
    }
    70% {
        transform: rotate(30deg) translate(.1em, -.2em);
    }
    80% {
        transform: rotate(0deg) translate(0, 0);
    }
    90% {
        transform: rotate(-30deg) translate(-.1em, -.2em);
    }
    100% {
        transform: rotate(0deg)  translate(0);
    }
}

// neonflicker
//
// Because of z-index of -1 it doesn't overlay everything, so buttons are still clickable,
// but precautionally make all divs transparent so they don't overlay the effect.
.eastereck-neonflicker {
    div {
        background-color: transparent !important;
    }

    &::after {
        animation: neonflicker 200ms step-end infinite;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

@keyframes neonflicker {
    0% {
        background-color: #00f;
    }
    33% {
        background-color: #f00;
    }
    66% {
        background-color: #0f0;
    }
}

// shaking
//
.eastereck-shaking {
    animation: movingaround 800ms linear infinite alternate;
}

@keyframes movingaround {
    0% {
        transform: translate(-2rem, 1rem);
    }
    20% {
        transform: translate(1rem, -2rem);
    }
    40% {
        transform: translate(-2rem, -1rem);
    }
    60% {
        transform: translate(-1rem, 2rem);
    }
    80% {
        transform: translate(0rem, -2rem);
    }
    100% {
        transform: translate(2rem, 0rem);
    }
}

// unicorncursor
//
.eastereck-unicorncursor {
    &.eastereck-upsidedown *,
    * {
        cursor: url('../assets/img/unicorn-cursor.gif'), auto;
    }
}

// upsidedown
//
.eastereck-upsidedown {
    * {
        cursor: url('../assets/img/upsidedown-cursor.png') 21 25, auto;
    }

    transform: rotate(180deg);
}
