// drunken
//
.eastereck-drunken {
    filter: blur(1px);
}

// unicorncursor
//
.eastereck-unicorncursor {
    &.eastereck-upsidedown *,
    * {
        cursor: url('../assets/img/unicorn-cursor.gif'), auto;
    }
}

// upsidedown
//
.eastereck-upsidedown {
    * {
        cursor: url('../assets/img/upsidedown-cursor.png') 21 25, auto;
    }

    transform: rotate(180deg);
}

// iconparty
//
.eastereck-iconparty-jump {
    animation: jump 250ms ease infinite alternate;
}
.eastereck-iconparty-rotate {
    animation: rotate 800ms linear infinite;
}
.eastereck-iconparty-dance {
    animation: dance 2000ms linear infinite;
}

@keyframes jump {
    0% {
        transform: translate(0, -8px);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
}
@keyframes dance {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(10deg);
    }
    15% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    45% {
        transform: rotate(10deg);
    }
    55% {
        transform: rotate(-10deg) translate(0px);
    }
    70% {
        transform: rotate(30deg) translate(.1em, -.2em);
    }
    80% {
        transform: rotate(0deg) translate(0, 0);
    }
    90% {
        transform: rotate(-30deg) translate(-.1em, -.2em);
    }
    100% {
        transform: rotate(0deg)  translate(0px);
    }
}